// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Commissioner', 'Segoe UI', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Navbar
$navbar-light-color:                rgba(189,153,161,0.65);
$navbar-light-brand-color:          rgba(189,153,161,1.00);
$navbar-light-toggler-border-color: rgba(189,153,161,0.15);