// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Commissioner', 'Segoe UI', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Navbar

$navbar-light-color:                rgb(237, 218, 222);
$navbar-light-hover-color:          rgba(237, 218, 222, 0.76);
$navbar-light-active-color:         rgba(237, 218, 222, 0.76);
$navbar-light-disabled-color:       rgba(189,153,161,0.65);
$navbar-light-icon-color:           rgb(237, 218, 222);
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-icon-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color: rgb(237, 218, 222);
$navbar-light-brand-color:          rgb(237, 218, 222);
$navbar-light-brand-hover-color:    rgba(237, 218, 222, 0.76);